# Ignorar datasets
datasets/

# Ignorar el entorno virtual
proyectoII_env/
__pycache__
.devcontainer
credenciales.env
# dashboard Power BI
Presentación_KPIs.pbix

# normalizarGeoJSON:
normalizarGeoJSON.ipynb

# Mapa:
dashboard/Mapa

Dashboard_Streamlit/